<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>\
        <link rel = 'stylesheet' href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <h1>About US</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minima dignissimos optio quia inventore facere animi adipisci asperiores reiciendis molestias explicabo atque perferendis sit qui cupiditate, aliquam porro repellendus iusto minus, ea vitae? Maiores nemo ea illum, ex necessitatibus saepe. Voluptatem consequatur enim laboriosam autem ad cum accusantium laborum consectetur.</p>
    </body>
</html>