<!DOCTYPE html>
<html>
<head>
    <title>Add Department</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="update-container">

    <h1>🏛️ Add Department</h1>

    <form action="" method="POST">

        <label>Department Name</label>

        <input
            type="text"
            name="dept_name"
            placeholder="Enter Department Name"
            required>

        <button type="submit" class="update-btn">
            Add Department
        </button>

    </form>

</div>

</body>
</html>