    <!DOCTYPE HTML>
    <html>
        <head>
            <title>Employee & Department Management System </title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>

        <body>
            <div class="one">
                <h1>👨🏻‍💻Employee & Department Management System  </h1>
                <ul>
                    <li>🔔|</li>
                    <li>About Us|</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="sidebar">
                <div class="logo">
                    <span class="icon">👥</span>
                    <sapn calss="text">EDMS</sapn>
                </div>
                <div class="menu">
                    <p clss="title">MAIN</p>
                    <a href="#">🏠 Dashboard</a>

                    <p class="title">EMPLOYEE</p>
                    <a href="#">👨‍💼 Employees</a>
                    <a href="#">➕ Add Employee</a>

                    <p class="title">DEPARTMENT</p>
                    <a href="#">🏛️ Departments</a>
                    <a href="#">📋 Add Department</a>
                </div>
            </div>

        </body>
    </html>