<!DOCTYPE html>
<html>
<head>
    <title>Update Employee</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!DOCTYPE html>

<html>

<head>
    <title>Update Employee</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Navbar -->
    <div class="one">
        <h1>👨🏻‍💻 Employee & Department Management System</h1>

        <ul>
            <li>🔔 Notifications</li>
            <li>ℹ️ About Us</li>
            <li>📞 Contact Us</li>
        </ul>
    </div>

    <!-- Main Container -->
    <div class="container">

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/512/681/681494.png" alt="logo">
                <span class="text">EDMS</span>
            </div>

            <div class="menu">

                <p class="title">MAIN</p>
                <a href="{{ url_for('home') }}">🏠 Dashboard</a>

                <p class="title">EMPLOYEE</p>
                <a href="{{ url_for('employees') }}">👨‍💼 Employees</a>
                <a href="{{ url_for('add') }}">➕ Add Employee</a>

                <p class="title">DEPARTMENT</p>
                <a href="{{ url_for('department') }}">🏛️ Departments</a>
                <a href="{{ url_for('add_department') }}">📋 Add Department</a>
                
                <p class="title">REPORTS</p>

                <a href="{{ url_for('salary_report') }}">💰 Salary Report</a>
                <a href="{{ url_for('top_earners') }}">🏆 Top Earners</a>
            </div>

        </div>

        <!-- Content -->
        <div class="content">

            <div class="update-container">

                <h1>✏ Update Employee</h1>

                <form action="" method="POST">

                    <label>Name</label>
                    <input type="text"
                        name="name"
                        value="{{ employee.name }}"
                        required>

                    <label>Department</label>

                    <select name="dept_id">

                        {% for dept in departments %}

                        <option value="{{ dept.dept_id }}"
                            {% if dept.dept_id == employee.dept_id %}
                                selected
                            {% endif %}
                        >
                            {{ dept.dept_name }}
                        </option>

                        {% endfor %}

                    </select>

                    <label>Salary</label>
                    <input type="number"
                        name="salary"
                        value="{{ employee.salary }}"
                        required>

                    <label>City</label>
                    <input type="text"
                        name="city"
                        value="{{ employee.city }}"
                        required>

                    <button type="submit" class="update-btn">
                        Update Employee
                    </button>

                </form>

            </div>

        </div>

    </div>

    </body>

</html>
